body {
    text-align: center;
    font-family: sans-serif;
  }

#lien:hover {
    color: red;
    font-weight: bold;

}

table {
    border: 3mm ridge rgba(97, 97, 97, 0.6);
}

th {
    border-bottom: 3px solid;
}

div {
    width: 600px;
    height: 200px;

    background-color: rgb(223, 223, 223);
    border-radius: 5px;

    vertical-align:middle;
}

#ieseg {
    text-align: center;
    vertical-align: top;
}